button {
    margin-top: 10px;
    padding: 8px 4px;
    background-color: #ec3a3a;
    color: white;
    border-radius: 10%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c03030;
}