

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  figure {
    margin-top: 50px;
    width: 45%;
  }
  
  figure img {
    width: 100%;
    height: auto;
  }
  
  .text {
    width: 45%;
    padding: 0 2rem;
    box-sizing: border-box;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(240, 79, 79);
  }
  
  .texto {
    font-size: 1.125rem;
    line-height: 1.5;
  }