@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.titulo {
  display: flex;
  padding: 1rem 0;
  font-weight: bold;
  flex-direction: column;
  font-size: 4rem;
}

.ingred {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  font-weight: bold;
  flex-direction: column;
  padding-left: 12rem;
  
}

.cobertura {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-weight: bold;
  flex-direction: column;
  padding-left: 12rem;
}

.modo {
  display: flex;
  justify-content: space-between;
  padding-left: 12rem;
  padding: 0.5rem 0;
  font-weight: bold;
  flex-direction: column;
  padding-left: 12rem;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}
.cabeca{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  font-weight: bold;
  flex-direction: column;
}
.list{
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  padding-left: 12rem;
}

.backgroundImage {
  position: relative;
  min-height: 100vh;
}

.backgroundImage::after {
  content: "";
  background: url(/back.jpeg);
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}
