html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex: 1;
  }
  
  .rodape {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    bottom: 0;
  }
  
  .rodape p {
    margin: 0;
  }